<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DataCollectorEntities" connectionString="metadata=res://*/DataCollecterModel.csdl|res://*/DataCollecterModel.ssdl|res://*/DataCollecterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=DataCollector;persist security info=True;user id=sa;password=63792958;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ITS_ServerEntities" connectionString="metadata=res://*/ITS_Server.csdl|res://*/ITS_Server.ssdl|res://*/ITS_Server.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server;initial catalog=ITS_Server;persist security info=True;user id=sa;password=63792958;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ITS_ClientEntities" connectionString="metadata=res://*/ITS_Client.csdl|res://*/ITS_Client.ssdl|res://*/ITS_Client.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ITS_Client;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>