<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="DataCollectorEntities" connectionString="metadata=res://*/DataCollecterModel.csdl|res://*/DataCollecterModel.ssdl|res://*/DataCollecterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=DataCollector;persist security info=True;user id=sa;password=63792958;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ITS_ServerEntities" connectionString="metadata=res://*/ITS_Server.csdl|res://*/ITS_Server.ssdl|res://*/ITS_Server.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server;initial catalog=ITS_Server;persist security info=True;user id=sa;password=63792958;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ITS_ClientEntities" connectionString="metadata=res://*/ITS_Client.csdl|res://*/ITS_Client.ssdl|res://*/ITS_Client.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ITS_Client;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <system.serviceModel>

    <services>      
      <service name="WcfServiceHost.AsansörveIşıklar.AsansorveIsıklar">
        <endpoint behaviorConfiguration="web"
          binding="webHttpBinding"
          contract="WcfServiceHost.AsansörveIşıklar.IAsansor_Isıklar_IsıNemApi"
          listenUri="http://localhost:9005/asansorisiklarisinem"/>
        <endpoint address="" binding="wsDualHttpBinding" contract="WcfServiceHost.AsansörveIşıklar.IAsansor_Isıklar_IsıNem" />
        <endpoint address="" binding="netNamedPipeBinding" contract="WcfServiceHost.AsansörveIşıklar.IAsansor_Isıklar_IsıNem" />
        <endpoint address="" binding="netTcpBinding" contract="WcfServiceHost.AsansörveIşıklar.IAsansor_Isıklar_IsıNem" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/asansorisiklarisinem" />
            <add baseAddress="net.tcp://localhost:9002/asansorisiklarisinem" />
            <add baseAddress="net.pipe://localhost/asansorisiklarisinem" />
          </baseAddresses>
        </host>
      </service> 
      

      


      <service name="WcfServiceHost.UserService.UserService">
        <endpoint behaviorConfiguration="web"
                  binding="webHttpBinding"
                  contract="WcfServiceHost.UserService.IUserService"
                  listenUri="http://localhost:9005/User"/>
        <endpoint address="" binding="netNamedPipeBinding" contract="WcfServiceHost.UserService.IUserService" />
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceHost.UserService.IUserService" />
        <endpoint address="" binding="netTcpBinding" contract="WcfServiceHost.UserService.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/User"/>
            <add baseAddress="net.tcp://localhost:9002/User" />
            <add baseAddress="net.pipe://localhost/User" />
          </baseAddresses>
        </host>
      </service>


      <service name="WcfServiceHost.UserService.UserPermissionService">
        <endpoint behaviorConfiguration="web"
          binding="webHttpBinding"
          contract="WcfServiceHost.UserService.IUserPermissionService"
          listenUri="http://localhost:9005/UserPermission"/>
        <endpoint address="" binding="netNamedPipeBinding" contract="WcfServiceHost.UserService.IUserPermissionService" />
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceHost.UserService.IUserPermissionService" />
        <endpoint address="" binding="netTcpBinding" contract="WcfServiceHost.UserService.IUserPermissionService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/UserPermission"/>
            <add baseAddress="net.tcp://localhost:9002/UserPermission" />
            <add baseAddress="net.pipe://localhost/UserPermission" />
          </baseAddresses>
        </host>
      </service>

      <service name="WcfServiceHost.Machine.MachineService">
        <endpoint behaviorConfiguration="web"
          binding="webHttpBinding"
          contract="WcfServiceHost.Machine.IMachineService"
          listenUri="http://localhost:9005/Machine"/>
        <endpoint address="" binding="netNamedPipeBinding" contract="WcfServiceHost.Machine.IMachineService" />
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceHost.Machine.IMachineService" />
        <endpoint address="" binding="netTcpBinding" contract="WcfServiceHost.Machine.IMachineService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/Machine"/>
            <add baseAddress="net.tcp://localhost:9002/Machine" />
            <add baseAddress="net.pipe://localhost/Machine" />
          </baseAddresses>
        </host>
      </service>
      <!--=========ITS SERVİSLERİ=============-->
      <service name="WcfServiceHost.ITS_Service.UsersServiceITS">
        <endpoint behaviorConfiguration="web"
          binding="webHttpBinding"
          contract="WcfServiceHost.ITS_Service.IUsersServiceITS"
          listenUri="http://localhost:9005/UsersServiceITS"/>
        <endpoint address="" binding="netNamedPipeBinding" contract="WcfServiceHost.ITS_Service.IUsersServiceITS" />
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceHost.ITS_Service.IUsersServiceITS" />
        <endpoint address="" binding="netTcpBinding" contract="WcfServiceHost.ITS_Service.IUsersServiceITS" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/UsersServiceITS"/>
            <add baseAddress="net.tcp://localhost:9002/UsersServiceITS" />
            <add baseAddress="net.pipe://localhost/UsersServiceITS" />
          </baseAddresses>
        </host>
      </service>

      <!--=========ITS SERVİS END=============-->
    </services>
    
    
    
    
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="True"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>