<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IUserService" />
            </netNamedPipeBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IAsansor" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAsansor" contract="Wcf.IAsansor" name="WSDualHttpBinding_IAsansor">
                <identity>
                    <userPrincipalName value="PROGRAMMER\Programmer" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/User" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IUserService" contract="UserServiceReference.IUserService" name="NetNamedPipeBinding_IUserService">
                <identity>
                    <userPrincipalName value="PROGRAMMER\Programmer" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9001/User" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>